{% extends "base.html" %}


{% block content %}
<br>

<h1>Перезагрузите киоск</h1>
<h4>Фоменко Олег т.+7(981)193-74-44<h4>


<div style="text-align: center;">

    <input type="submit" style= "background: #FFFACD; 
 height: 70px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 50px; " value="Перезагрузите киоск">
 
 <input type="submit" style= "background: #FFFACD; 
 height: 50px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 30px; " value="Фоменко Олег т.+7(981)193-74-44"> 
 
</div>


{% endblock %}
