<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <style> 
   html { height: 100%; }
   body {
    margin: 0;
    height: 100%;
    background-size: cover;
   } 
   
   .butn {
 background: #FFFAFA;
 width: 350px; 
 height: 60px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 25px;
   }
   
div.block{
        display:inline-block;
        padding:5px;
        margin:10px;
    }
    
   .top_butn {
 background: #FFFAFA;
 width: 170px;
 height: 40px;
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 15px;
   }	
	
	.text_butn {
 background: #FFFAFA;
  
 height: 60px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 25px;
   }
	
 .butn_cop 	{
 background: #FFFAFA;
  width: 150px;
 height: 100px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 25px;
   }
   
 .butn_next_page 	{
 background: #FFFAFA;
  width: 80px;
 height: 20px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 15px;
   }

 .butn_disable 	{
  display: none;
   }

  </style




	
  </head>
  <body>


<body background  = " {{ url_for('static', filename='background_for_site.jpg')}}";  >
 

        
        {% block content %}

        {% endblock%}
		<div style="text-align: center;">
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
