{% extends "base.html" %}




{% block content %}
<br><br><br>

<div class="block">
<form action="/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="">
    <input type="submit" class="top_butn" value="Главная страница">
</form>

  </div><div class="block">
  
    <form action="/to_pos/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="POS">
</form>

 </div><div class="block"> 
 
    <form action="/to_kadri/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="кадровые вопросы">
</form>
 
 </div><div class="block">
 
    <form action="/to_arm/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="APM">
</form>

 </div><div class="block">
 
    <form action="/to_eirs/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="ЕИРС">
</form>

</div><div class="block">
 
    <form action="/to_suo/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="СУО">
</form>

</div><div class="block">
 
    <form action="/to_ot/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="КТО_ОТ">
</form>
 </div>
<br><br><br><br><br>





<div style="text-align: center;">
  

    <input type="submit" style= "background: #FFFACD; 
 height: 70px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 50px; " value="Выберите количество копий">

  
  <br><br>

<div class="block"> 
	
    <form action="/to_copy/" method="POST">
    <!-- скрытый параметр -->
	<input type="hidden" name="count" value="{{1}}">
    <input type="hidden" name="index" value="{{go_print}}">
    <input type="submit" class="butn_cop" value="1 копия">
</form>

 </div><div class="block"> 

    <form action="/to_copy/" method="POST">
    <!-- скрытый параметр -->
	<input type="hidden" name="count" value="{{2}}">
    <input type="hidden" name="index" value="{{go_print}}">
    <input type="submit" class="butn_cop" value="2 копии">
</form>
 </div>
 
  <br><br>
  <div class="block">	
    <form action="/to_copy/" method="POST">
    <!-- скрытый параметр -->
	<input type="hidden" name="count" value="{{3}}">
    <input type="hidden" name="index" value="{{go_print}}">
    <input type="submit"class="butn_cop" value="3 копии">
</form>
 
  </div><div class="block">  

    <form action="/to_copy/" method="POST">
    <!-- скрытый параметр -->
	<input type="hidden" name="count" value="{{5}}">
    <input type="hidden" name="index" value="{{go_print}}">
    <input type="submit" class="butn_cop" value="4 копии">
</form>
 </div> 
  
  <br><br>
  
 	
    <form action="/to_copy/" method="POST">
    <!-- скрытый параметр -->
	<input type="hidden" name="count" value="{{10}}">
    <input type="hidden" name="index" value="{{go_print}}">
    <input type="submit" class="butn_cop"  value="5 копий">
</form>
 
  </div>

{% endblock %}
