{% extends "base.html" %}

{% block title %}



{% endblock %}

	
{% block content_title %}

{% endblock %}


{% block content %}
<br>
<div style="text-align: center;">
<div class="block">
<form action="/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="">
    <input type="submit" class="top_butn"  value="Главная страница">
</form>

</div><div class="block">
  
    <form action="/to_pos/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="POS">
</form>

</div><div class="block">

    <form action="/to_kadri/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="кадровые вопросы">
</form>
 
</div><div class="block">

    <form action="/to_arm/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="APM">
</form>

</div><div class="block">

    <form action="/to_eirs/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="ЕИРС">
</form>

</div><div class="block">
 
    <form action="/to_suo/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn" value="СУО">
</form>

</div><div class="block">
 
    <form action="/to_ot/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="top_butn"  value="КТО_ОТ">
</form>
</div>
 </div>
<br><br><br>



  {% for file in files%}

	<div style="margin-left:500px;">
        <form action="/to_print/" method="POST">
    <!-- скрытый параметр -->
	<input type="hidden" name="path" value="{{dir_file}}">
    <input type="hidden" name="index" value="{{file}}">
    <input type="submit" class="text_butn" value="{{file}}">
</form>
		</div>
		</div>	
		<br>
{% endfor %}
	
	

<div style="text-align: center;">
    


 <a  class="{% if page==1 %}butn_disable {% endif %} butn_next_page"{% if last_page %}  href="./?page={{page - 1}}" {% endif %}><<<</a>    

 <a class="{% if page >= last_page %}butn_disable {% endif %} butn_next_page" {% if last_page %} href="./?page={{page + 1}}"{% endif %} style="margin-left: 50px;" >>>></a>
 
  
</div>
	
{% endblock %}
