{% extends "base.html" %}

{% block title %}



{% endblock %}

	
{% block content_title %}

{% endblock %}


{% block content %}
<br><br><br>


<div style="text-align: center;">

<form >
    <input type="submit" style= "background: #FFFACD;
 width: 550px; 
 height: 70px;  
 border-radius: 5px; 
 box-shadow: 0px 1px 3px; 
 font-size: 50px; " value="   Что будем печатать?    ">
	</form>
  
<br><br><br>




 
    <form action="/to_ot/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="butn"  value="   Документы для КТО_ОТ   ">
	</form>
  <br><br>


    <form action="/to_suo/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="butn" value="     Документы для СУО      ">
</form>
  <br><br>
  
  
  
    <form action="/to_eirs/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="butn"  value="     Документы для ЕИРС    ">
</form>
  <br><br>

  
    <form action="/to_arm/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="butn"  value=" Документы для POS APM ">
</form>
  <br><br>
  
    
    <form action="/to_kadri/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="butn"  value="      кадровые вопросы      ">
</form>
  <br><br>
  

  
    <form action="/to_pos/" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="pos">
    <input type="submit" class="butn"  value="     Документы для POS      ">
</form>
  <br><br>
  
</div>

 
  
  
  
 
{% endblock %}
