{% extends "base.html" %}

{% block title %}



{% endblock %}

	
{% block content_title %}

{% endblock %}


{% block content %}
<br><br><br><br>
<div style="text-align: center;">
<!-- <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"> -->
<h1><span class="badge badge-light text-wit p-3 mb-2">Документы отправлены на печать</span> </h1>
<br>
<script>    
     window.setTimeout(function(){

       // Move to a new location or you can do something else
       window.location.href = "/";

       }, 5000);

 </script>
	
{% endblock %}
